.containerr {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#xyyx {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
